<!-- PROJECT INDEX -->
<section class="wrapper project-index">
  <header class="project-group-heading">

    <h1>
      {% if site.data.projects.categories[include.cat].status == 1 %}
        <a href="/projects/active">Active Projects</a>
      {% endif %}

      {% if site.data.projects.categories[include.cat].status == 2 %}
        <a href="/projects/hold">On Hold Projects</a>
      {% endif %}

      {% if site.data.projects.categories[include.cat].status == 3 %}
        <a href="/projects/archive">Archived Projects</a>
      {% endif %}
    </h1>

    <h2>
      <a href="{{ page.url }}">{{ site.data.projects.categories[include.cat].name }}</a>
    </h2>

    <nav>
      <ul class="project-group-list">
        {% for post in site.categories[include.cat] %}
          <li class="cat-item">
            <a href="#{{ post.id }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <div class="project-group">
    <section class="category">
      <header class="project-heading">
        <h2 class="category-title">
          {{ site.data.projects.categories[include.cat].name }}
        </h2>
        <img src="{{ site.data.projects.categories[include.cat].image }}" alt="project header graphic" />
        <p>
          {{ site.data.projects.categories[include.cat].description }}
        </p>
      </header>

      {% for post in site.categories[include.cat] %}
        <article class="post" id="{{ post.id }}">
          <header class="entry-header">
            <h1 class="entry-title">
              <a href="{{ post.url }}">
                {{post.title}}
              </a>
            </h1>
            <div class="entry-meta">
              <span class="posted-on">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          </header>
          <div class="entry-content">
            {{ post.content }}
          </div>
        </article>
      {% endfor %}

    </section>
  </div>






</section>
