<!-- ON HOLD PROJECTS -->
<section class="wrapper projects-list">
  <header class="project-group-heading">
    <h1>On Hold</h1>
    <nav>
      <ul class="project-group-list">
        {% for cat in site.data.projects.categories %}
        {% if cat[1].status == 2 %}
          <li class="cat-item">
            <a href="{{ include.prefix }}{{ cat[0] }}">{{ cat[1].name }}</a>
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="project-group">
    {% for cat in site.data.projects.categories %}
    {% if cat[1].status == 2 %}
    <section class="category">
      <header class="project-heading">
        <h2 class="category-title"><a href="{{ include.prefix }}{{ cat[0] }}">{{ cat[1].name }}</a></h2>
        {% if cat[1].image %}
        <img src="{{ cat[1].image }}" alt="project header graphic" />
        {% endif %}
        <p>{{ cat[1].description }}</p>
        {% if cat[1].tags %}
          <ul class="tags">
            {% for tag in cat[1].tags %}
              <li class="tags__tag">{{ tag }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </header>

      {% assign tempCat = cat[0] %}
      {% for post in site.categories[tempCat] limit:1 %}
        <article class="post">
          <header class="entry-header">
            <h1 class="entry-title">
              <a href="{{ post.url }}">
                {{post.title}}
              </a>
            </h1>
            <div class="entry-meta">
              <span class="posted-on">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          </header>
        </article>
      {% endfor %}
      <footer class="project-group-footer">
        <a class="button small more-btn" href="{{ include.prefix }}{{ cat[0] }}">More</a>
      </footer>
    </section>
    {% endif %}
    {% endfor %}
  </div>
</section>
