<footer id="colophon" class="journal__footer" role="contentinfo">
  <ul>
        <li><a href="/">Robert Ferguson</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="https://github.com/rewfergu">Github</a></li>
        <li><a href="http://codepen.io/rewfergu">Codepen</a></li>
        <li><a href="http://www.linkedin.com/in/rewferguson">LinkedIn</a></li>
        <li><a href="https://twitter.com/rewfergu">Twitter</a></li>
      </ul>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/prism.js"></script>