<nav>
  <ul>
    <li>
      <a href="work.html">
        <svg><use xlink:href="img/icons.svg#icon-images"></use></svg>
        Work
      </a>
    </li>
    <li>
      <a href="projects/">
        <svg><use xlink:href="img/icons.svg#icon-book"></use></svg>
        Journal
      </a>
    </li>
    <li>
      <a href="https://github.com/rewfergu">
        <svg><use xlink:href="img/icons.svg#icon-github"></use></svg>
        Github
      </a>
    </li>
    <li>
      <a href="http://codepen.io/rewfergu">
        <svg><use xlink:href="img/icons.svg#icon-codepen"></use></svg>
        Codepen
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/rewferguson">
        <svg><use xlink:href="img/icons.svg#icon-linkedin"></use></svg>
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://twitter.com/rewfergu">
        <svg><use xlink:href="img/icons.svg#icon-twitter"></use></svg>
        Twitter
      </a>
    </li>
  </ul>
</nav>
