<section class="projectCategory archive">
  <header class="projectCategory__heading projectList">
    <h1>Archived Projects</h1>
    <nav>
      <ul>
        {% for project in site.printProjects(site.projects, 3) %}
          <li>{{ site.printProjectLink(project) | safe }}</li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <div class="projectCategory__content">
    {% for project in site.printProjects(site.projects, 3) %}

      <section class="project">
        <header class="project__heading">
          {% if site.projects[project].image %}
            {% set titleClass = "project__title" %}
          {% else %}
            {% set titleClass = "project__title emphasis" %}
          {% endif %}

          <h2 class="{{ titleClass }}">
            <a href="/projects/{{ project.folder }}">{{ project.name }}</a>
          </h2>

          {% if project.image %}
            <img src="{{ project.image }}" alt="project header graphic" />
          {% endif %}

          <p>{{ project.description }}</p>

          {% if project.github %}
            <p>
              <a class="project__github" href="{{ project.github }}">
                <svg><use xlink:href="/img/icons.svg#icon-github"></use></svg>
                {{ project.github }}
              </a>
            </p>
          {% endif %}

          {% if project.link %}
            <p>
              <a class="project__link" href="{{ project.link }}">
                <svg><use xlink:href="/img/icons.svg#icon-link"></use></svg>
                {{ site.trimLink(project.link) }}
              </a>
            </p>
          {% endif %}

          {% if project.tags %}
            <ul class="project__tags">
              {% for tag in project.tags %}
                <li class="project__tag">{{ tag }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </header>
        <footer class="project__footer">
          <a class="button small more-btn" href="/projects/{{ project.folder }}">More</a>
        </footer>
      </section>

    {% endfor %}

  </div>

</section>
