{% extends "project.html" %} 

{% block sidebar %}
  <header class="projectList">

    <h1 class="projectList__heading">
      {% if site.projects[project].status == 1 %}
        <a href="/projects/active">Active Projects</a>
      {% endif %}

      {% if site.projects[project].status == 2 %}
        <a href="/projects/hold">On Hold Projects</a>
      {% endif %}

      {% if site.projects[project].status == 3 %}
        <a href="/projects/archive">Archived Projects</a>
      {% endif %}
    </h1>

    <nav>
      <ul>
        {% for proj in site.printProjects(site.projects, site.projects[project].status) %}
          <li>{{ site.printProjectLink(proj, project) | safe }}</li>
        {% endfor %}
      </ul>
    </nav>

  </header>
{% endblock %}


{% block body %}
  <section class="project">
    <header class="project__heading">
      {% if site.projects[project].image %}
        {% set titleClass = "project__title" %}
      {% else %}
        {% set titleClass = "project__title emphasis" %}
      {% endif %}
      
      <h2 class="{{ titleClass }}">
        {{ site.projects[project].name }}
      </h2>

      {% if site.projects[project].image %}
        <img src="{{ site.projects[project].image }}" alt="project header graphic" />
      {% endif %}

      <p>
        {{ site.projects[project].description }}
      </p>

      {% if site.projects[project].github %}
        <p><a href="{{ site.projects[project].github }}">{{ site.projects[project].github }}</a></p>
      {% endif %}

      {% if site.projects[project].tags %}
        <ul class="project__tags">
          {% for tag in site.projects[project].tags %}
            <li class="project__tag">{{ tag }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </header>

    {% for post in site.getProjectPosts(project) %}
      {% set article = site.renderArticle(project, post) %}
      {% include "includes/article.html" %}
    {% endfor %}

  </section>
{% endblock %}
