---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import Step from '~/components/ui/Step.astro';
import TechCards from '~/components/widgets/TechCards.astro';
import WorkHistory from '~/components/widgets/WorkHistory.astro';

import meandjack from '~/assets/images/meandjack.webp';
import map from '~/assets/images/map.svg?raw';
import chapmanLogo from '~/assets/images/chapman.svg?raw';
import scadLogo from '~/assets/images/scad.svg?raw';

const metadata = {
  title: 'Robert Ferguson: Software Engineer',
};
---

<Layout metadata={metadata}>
  <Hero id="hero" title="Robert Ferguson" tagline="Software Engineer">
    <Fragment slot="subtitle">
      Hello. I build projects for the web. I've worked in all aspects of design and development since 2006, and my focus
      at the moment is using TypeScript and React to provide accessible and performant user experiences.
    </Fragment>
  </Hero>

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/rewferguson/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/rewfergu',
        },
      },
      {
        icon: 'tabler:brand-codepen',
        callToAction: {
          target: '_blank',
          text: 'Codepen',
          href: 'http://codepen.io/rewfergu',
        },
      },
    ]}
    image={{
      src: meandjack,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I grew up in Southern California and attended Chapman Uiversity where I studied film production. After my
        undergrad I moved to Savannah, Georgia to attend the Savannah College of Art and Design where I earned my MFA in
        Interactive Design. After my graduate degree I started off as a web designer, but soon found that engineering
        suited my personality a lot better. I focus now primarily on front end development and design systems.
      </p>

      <div class="w-96 mx-auto my-12">
        <Fragment set:html={map} />
      </div>

      <p>
        My careeer has taken me all over the country. Currently we are in Appleton, Wisconsin. My wife and I have one
        son and two dogs that keep us busy. We love the Great Lakes region and spend a lot of time outdoors.
      </p>

      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[hsl(188,52%,57%)] opacity-50 dark:bg-[rgb(88,202,170)]"></div>
    </Fragment>
  </Content>

  <TechCards />

  <WorkHistory />

  <Steps id="resume" title="Education" classes={{ container: 'max-w-3xl' }}>
    <Step
      title="Master of Fine Arts in Interactive Design"
      company="Savannah College of Art and Design"
      dates="2003 - 2006"
      logo={scadLogo}
    >
      I studied interactive design at SCAD with a focus on nonlinear storytelling. This was the golden age of Flash and
      I was able to learn a lot about animation, interactivity, and design. I also studied game design and development a
      bit, using 3d Studio Max, Maya and the Unreal engine to make some simple games.
    </Step>

    <Step
      title="Bachelor of Fine Arts in Film Production"
      company="Chapman University"
      dates="1997 - 2002"
      logo={chapmanLogo}
    >
      I originally studied film production with the intention of eventually becomming a filmmaker. I still love film. It
      didn't take all that long to realize the business of making films was no place for me, so I started looking at
      post production, effects, and animation. It was when I made my first project in Macromedia Director that I
      realized how much I enjoyed interactivity and nonlinear storytelling.
    </Step>
  </Steps>
</Layout>
