.header {
  height: auto;
  width: 100%;
  left: 0;
  top: 0;
  background: transparent;
  box-sizing: border-box;
  z-index: 200;

  @media (min-width: 800px) {
    width: 300px;
    min-height: 100vh;
    position: relative;
    background: rgba(255, 255, 255, 0.75);
  }
}

.menuButton {
  background: transparent;
  border: none;
  display: block;
  position: absolute;
  top: 2rem;
  left: 1rem;
  z-index: 410;

  @media (min-width: 800px) {
    display: none;
  }
}

.siteTitle {
  background: #1e325a;
  color: white;
  font-weight: 800;
  margin: 0;
  padding: 1.5rem 1rem 1.2rem 0.75rem;
  font-size: 2rem;
  /* font-family: proxima-nova, sans-serif; */
  text-align: center;
  position: relative;
  z-index: 400;
  height: 140px;
  box-sizing: border-box;
  will-change: height;
  transition: height 0.3s linear;

  overflow: hidden;

  @media (min-width: 800px) {
    /* padding: 2rem 1rem 1.2rem 0.75rem; */
    height: 140px;
  }
}

.activeTitle {
  height: 100px;
  @media (min-width: 800px) {
    height: 140px;
  }
}

.siteTitle svg {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
}

.siteTitle svg g[class='scissors'] {
  opacity: 1;
  transition: opacity 0.25s linear;
  @media (min-width: 800px) {
    opacity: 1;
  }
}

.activeTitle svg g[class='scissors'] {
  @media (max-width: 800px) {
    opacity: 0;
  }
}

.menuButton svg {
  fill: white;
}

.hiddenNav {
  top: -120vh !important;
}

.nav {
  /* font-family: proxima-nova, sans-serif; */
  padding: 1rem;
  position: absolute;
  width: 100%;
  top: 140px;
  height: 100vh;
  background: white;
  transition: top 0.25s ease-out;
  box-sizing: border-box;

  @media (min-width: 800px) {
    position: static;
    height: auto;
    background: transparent;
  }
}

.nav a {
  color: #1e325a;
  text-decoration: none;
  display: flex;
}

.nav a:hover,
.nav a:focus,
.nav a.active {
  /* color: #de3115; */
  color: #e0006e;
}
