---
import logoSVG from '../assets/images/logo-round.svg?raw';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <span class="flex gap-2 items-center relative bottom-[1px]">
    <span class="w-9 rounded-full">
      <span class="w-8">
        <Fragment set:html={logoSVG} />
      </span>
    </span>
    <span class="uppercase font-light logo-name"> Robert Ferguson </span>
  </span>
</span>
