{% extends "journal.html" %} 

{% block sidebar %}
  <header class="projectList">

    <h1 class="projectList__heading">
      {% if site.projects[project].status == 1 %}
        <a href="/projects/active">Active Projects</a>
      {% endif %}

      {% if site.projects[project].status == 2 %}
        <a href="/projects/hold">On Hold Projects</a>
      {% endif %}

      {% if site.projects[project].status == 3 %}
        <a href="/projects/archive">Archived Projects</a>
      {% endif %}
    </h1>

    <nav>
      <ul>
        {% for proj in site.printProjects(site.projects, 1) %}
          <li>{{ site.printProjectLink(proj, project) | safe }}</li>
        {% endfor %}
      </ul>
    </nav>

  </header>
{% endblock %}


{% block body %}
  <div class="single">
    <article class="post">
      <header class="post__header">
        <h1 class="post__title">{{ title }}</h1>
        <div class="post__meta">{{ page.date }}</p>
      </header>

      <div class="post__content">
        {{ body | safe}}
      </div>
    </article>
  </div>
{% endblock %}