<!DOCTYPE html>
<html>

{% include "head-journal.html" %}

<body>
  <div class="journal">

    <header id="masthead" class="journal__header" role="banner">
      <h1 class="journal__title"><a href="/projects">Journal</a></h1>
    </header>

    <div class="journal__content">
      <div class="journal__sidebar">
        {% block sidebar %}
        {% endblock %}
      </div>

      <main id="main" class="journal__main" role="main">
        {% block body %}
        {% endblock %}
      </main>
    </div>
  </div>

  {% include "footer-journal.html" %}

</body>
</html>