.project {
  max-width: 800px;
  display: inline-block;
  width: 100%;
  transition: all .5s;
  background: white;
  box-sizing: border-box;
  break-inside: avoid;
  // margin-bottom: 1rem;
  padding: 1rem;

  @media #{$medium-up} {
    padding: 2rem 2rem 1rem;
    margin: 0 auto;
  }

  p {
    display: block;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
    margin: 1rem 0;

    img {
      max-width: 100%;
      box-sizing: border-box;
    }
  }

  .post {
    margin: 3rem 0;
  }
}

.project__heading img {
  max-width: 100%;
  width: 100%;
  border: none;
  padding: 0;
}

.project__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 0;
  color: #353535;
  margin-bottom: 0.5rem;

  a {
    color: #353535;
    text-decoration: none;
  }

  &.emphasis {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
}

.project__github,
.project__link {
  display: flex;

  svg {
    fill: #862d2d;
    height: 1.3rem;
    width: 1.3rem;
    display: block;
    margin-right: 0.5rem;
  }
}

.project__tags {
  list-style: none;
  margin: 0 0 1rem;
  padding-left: 0;
}

.project__tag {
  @include label;
  // display: inline-block;
  background: #efefef;
  border-radius: 5px;
  margin-bottom: 5px;
  // font-size: 0.75rem;
  // padding: 2px 10px;
}