---
import arc from '/arc-pattern.svg?raw';
---

<div class="flex items-start h-full group-last:opacity-0 w-4 arcContainer text-black/10 dark:text-primary">
  <Fragment set:html={arc} height="100%" />
</div>
